@font-face {
    font-family: 'Value';
    src: url('fonts.otf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Value', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1500px;
}

.logo {
    color: #153a5b;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.my-icon {
    fill: #a9a9a9;
}

 .bar {
  width: 25px;
height: 3px;
background-color: #a9a9a9;
margin-top: 5px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.menu li {
    list-style: none;
}

.nav-links {
  text-decoration: none;
color: #153a5b;
font-size: 14px;
text-transform: uppercase;
position: relative;
}

.nav-links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #153a5b;
    transition: width 0.3s ease;
}

.nav-links:hover {
    color: #153a5b;
}

.nav-links:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
}